<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wcl.etransbackend.mapper.AdministratorMapper">

    <resultMap type="com.wcl.etransbackend.domain.Administrator" id="AdministratorMap">
        <result property="adminAccount" column="admin_account" jdbcType="VARCHAR"/>
        <result property="adminPassword" column="admin_password" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询所有-->
    <select id="queryAll" resultMap="AdministratorMap">
        select admin_account,
               admin_password
        from administrator
    </select>

    <!--查询单个-->
    <select id="queryById" resultMap="AdministratorMap">
        select admin_account,
               admin_password
        from administrator
        where admin_account = #{adminAccount}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="AdministratorMap">
        select
        admin_account, admin_password
        from administrator
        <where>
            <if test="adminAccount != null and adminAccount != ''">
                and admin_account = #{adminAccount}
            </if>
            <if test="adminPassword != null and adminPassword != ''">
                and admin_password = #{adminPassword}
            </if>
        </where>
        limit #{pageable.offset}, #{pageable.pageSize}
    </select>

    <!--登录请求-->
    <select id="loginRequest" resultMap="AdministratorMap">
        select
        admin_account, admin_password
        from administrator
        <where>
            <if test="adminAccount != null and adminAccount != ''">
                and admin_account = #{adminAccount}
            </if>
            <if test="adminPassword != null and adminPassword != ''">
                and admin_password = #{adminPassword}
            </if>
        </where>
    </select>

    <!--统计总行数-->
    <select id="count" resultType="java.lang.Long">
        select count(1)
        from administrator
        <where>
            <if test="adminAccount != null and adminAccount != ''">
                and admin_account = #{adminAccount}
            </if>
            <if test="adminPassword != null and adminPassword != ''">
                and admin_password = #{adminPassword}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="adminAccount" useGeneratedKeys="true">
        insert into administrator(admin_password)
        values (#{adminPassword})
    </insert>

    <insert id="insertBatch" keyProperty="adminAccount" useGeneratedKeys="true">
        insert into administrator(admin_password)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.adminPassword})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="adminAccount" useGeneratedKeys="true">
        insert into administrator(admin_password)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.adminPassword})
        </foreach>
        on duplicate key update
        admin_password = values(admin_password)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update administrator
        <set>
            <if test="adminPassword != null and adminPassword != ''">
                admin_password = #{adminPassword},
            </if>
        </set>
        where admin_account = #{adminAccount}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete
        from administrator
        where admin_account = #{adminAccount}
    </delete>

</mapper>


